//
   Created by Sylvanus on 4/3/16.

extends sidebarLayout

block detail
    script.
        $(document).ready(function() {
            var currentUser;
            var currentGroup;
            $("i.icon-plus#addBtn").bind("click", function() {
                document.getElementById('add').click()
            })
            $("#addFriendNav").click(function() {
                $("#addFriendNav").addClass("active");
                $("#addGroupNav").removeClass("active");
                $("#addFriend").show();
                $("#addGroup").hide();
            })
            $("#addGroupNav").click(function () {
                $("#addFriendNav").removeClass("active");
                $("#addGroupNav").addClass("active");
                $("#addFriend").hide();
                $("#addGroup").show();
            })
            $("button#submitNewFriend").click(function () {
                $.post("/friend/addFriend", $("form#addFriend").serialize(), function(data) {
                })
            })
            $("button#submitNewGroup").click(function() {
                $.post("/friend/addGroup", $("form#addGroup").serialize(), function(data) {
                    var item = data.newGroup;
                    $("ul#group").append($("<li>").text(item));
                })
            })
            $("button#submitChangeGroup").click(function() {
                var toGroup = $("select#selectGroup").val();
                $.post("/friend/changeGroup", { uid: currentUser, fromGroup: currentGroup, toGroup: toGroup }, function (data) {
                })
            })
            $("button#submitDelFriend").click(function() {
                $.post("/friend/deleteFriend", { uid: currentUser, gid: currentGroup }, function (data) {
                })
            })
            $("li.list-group-item").click(function() {
                var uid = $(this).attr("id").split("__")[1];
                var gid = $(this).parents("li").attr("id").split("__")[1];
                currentUser = uid;
                currentGroup = gid;
                $.getJSON("api/getUserInfo", {uid: uid}, function (data, textStatus) {
                    $("img.img-circle#friendAvatar").attr("src", "avatars/" + data.avatar);
                    $("h2#friendNickname").text(data.username);
                    $("h5#friendEmail").text(data.email);
                    $("p#friendWhatsup").text(data.whatsup);
                    $("select#selectGroup").children().removeAttr("selected");
                    $("select#selectGroup").children().filter(function() {
                        return ($(this).val() == gid);
                    }).attr("selected", "selected");
                    $("td#friendGender").text(data.gender);
                    $("td#friendBirthday").text(data.birthday);
                    $("td#friendLocation").text(data.location);
                })
            })
        })
    .modal.fade#addModal(tabindex="-1" role="dialog" aria-labelledby="addModalLabel")
        .modal-dialog.modal-sm(role="document")
            .modal-content
                .modal-header
                    h4.modal-title Add a Friend/New Group
                .modal-body
                    ul.nav.nav-tabs
                        li.active#addFriendNav(role="presentation")
                            a(href="#") Friend
                        li#addGroupNav(role="presentation")
                            a(href="#") Group
                form#addFriend
                    .modal-body(style="padding: 10px 30px")
                        .form-group
                            label.control-label Add a friend by name or email
                            input.form-control(name="newFriend" type="text")
                        .form-group
                            label.control-label Choose a group
                            select.form-control.input-sm(name="toGroup")
                                each group in groups
                                    option(value=group) #{group}
                    .modal-footer(style="padding: 0 30px 20px")
                        button.btn.btn-default(type="button" data-dismiss="modal") Cancel
                        button.btn.btn-primary#submitNewFriend(type="button" data-dismiss="modal") Add
                form#addGroup(hidden)
                    .modal-body(style="padding: 10px 30px")
                        .form-group
                            label.control-label New Group
                            input.form-control(name="newGroup" type="text")
                    .modal-footer(style="padding: 0 30px 20px")
                        button.btn.btn-default(type="button" data-dismiss="modal") Cancel
                        button.btn.btn-primary#submitNewGroup(type="button" data-dismiss="modal") Add
    .row(style="margin: 0px")
        .col-lg-12(style="padding: 0px")
            .widget-container.scrollable.chat.chat-page
                .contact-list
                    .heading.media
                        .media-left
                            span.glyphicon.glyphicon-user(style="font-size: 24px")
                        .media-body Contacts <br>
                            small 100 friends
                        .media-right
                            button#add(type="button" hidden data-toggle="modal" data-target="#addModal")
                            i.icon-plus#addBtn
                    ul#group
                        each itemGroup in friends
                            - var item = itemGroup.group;
                            li(id="_group__"+item)
                                a.media(href="#"+item data-toggle="collapse")
                                    .media-left.media-middle
                                        span.caret
                                    .media-body #{item}
                                .collapse(id=item)
                                    ul.list-group#friend
                                        each itemFriend in itemGroup.items
                                            li.list-group-item(id="_friend__"+itemFriend)
                                                a.media(href="#")
                                                    .media-left
                                                        img(width="35" height="35" src="images/avatar-female.png")
                                                    .media-body #{itemFriend} <br>
                                                        small You say
                .widget-content.padded(style="height: 750px")
                    div(style="margin: 80px 0 40px")
                        center
                            img.img-circle#friendAvatar(width="160" height="160")
                    h2.text-center#friendNickname
                    h5.text-center#friendEmail
                    p#friendWhatsup(style="padding: 10px 250px")
                    center
                        form.form-inline#changeGroup(style="padding: 0 0 20px")
                            .form-group
                                label.control-label Group&nbsp;
                                select.form-control.input-sm#selectGroup
                                    each group in groups
                                        option(value=group) #{group}
                                span &nbsp;&nbsp;
                            button.btn.btn-default.input-sm#submitChangeGroup(style="margin: 0") change
                    div(style="padding: 10px 300px")
                        table
                            tr
                                td.text-right Gender
                                td &nbsp &nbsp
                                td#friendGender
                            tr
                                td.text-right Birthday
                                td &nbsp &nbsp
                                td#friendBirthday
                            tr
                                td.text-right Location
                                td &nbsp &nbsp
                                td#friendLocation
                    br
                    center
                        button.btn.btn-info Send Message
                        button.btn.btn-danger#submitDelFriend Delete Contact
